# --- Python & Virtual Environment ---
# Ignore the virtual environment folder (it is huge and local to your machine)
.venv/
venv/
env/

# Ignore Python compiled bytecode (junk files)
__pycache__/
*.py[cod]
*$py.class

# --- Environment Variables (CRITICAL) ---
# NEVER commit your API keys or database passwords to GitHub
.env
.env.local

# --- User Uploads ---
# Ignore actual files uploaded by users, but keep the folder structure
uploads/*
!uploads/.gitkeep

# --- IDE & System Files ---
# Ignore VS Code or Mac system files
.vscode/
.idea/
.DS_Store
test
# --- Database Data (Optional) ---
# You usually keep 'table.sql' (schema), but ignore large data dumps
# If 'skinsagetablesdata.sql' contains real user data, ignore it:
skinsagetablesdata.sql
nginx
node_modules/
frontend-tests/node_modules/
frontend-tests/node_modules/
frontend-tests/playwright-report/
frontend-tests/test-results/
